.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 325px;
    height: 300px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    display: block;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group input[type="reset"] {
    width: 22%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
        }

.form-group input[type="submit"] {
    background-color: #0F7DC8;
    color: white;
    transition: background-color 0.3s;
}

.form-group input[type="reset"] {
    background-color: #DF3024;
    color: white;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-group input[type="reset"]:hover {
    background-color: #B4160B;
}

.form-group p {
    text-align: center;
}

.button {
    margin-left: 8px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white; /* Cor do texto */
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}